@import "../bower_components/normalize-scss/normalize";
@import "../bower_components/sass-easing/sass-easing";
@import url(//fonts.googleapis.com/css?family=Roboto:400,500,700);

// Font variable
$roboto: 'Roboto', sans-serif;

* {
	box-sizing: border-box;
}

body {
	background: #222;
	background: radial-gradient(ellipse at center, #444 0%, #222 100%);
	color: #eee;
	font: 16px/24px $roboto;
	padding: 20px;
}

h1 {
	font-weight: 700;
	text-align: center;
	text-transform: uppercase;
}

h2, button {
	margin-left: 230px;
}

h2 {
	opacity: 0;
	transition: opacity 500ms $easeOutQuad;

	&.visible {
		opacity: 1;
	}

}

button {
	background: #666;
	border: none;
	border-radius: 6px;
	display: block;
	font: 500 20px/48px $roboto;
	padding: 6px 30px;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
	text-transform: uppercase;
	transition: background 500ms $easeOutQuad;
	outline: none;

	&:hover {
		background: red;
	}

}

ul {
	margin-top: 0;
}

p.instructions {
	text-align: center;
}

.container {
	overflow: hidden;
	width: 1120px;
}

.video-container {
	background: #111;
	height: 360px;
	margin-left: 230px;
	position: relative;
	width: 640px;
	z-index: 1;

	&.playing:after {
		opacity: 0;
	}

	&:after {
		background: rgba(0, 0, 0, 0.8) url(../img/lock.png) center center no-repeat;
		color: #eee;
		content: ' Get all seven correct to unlock the bonus video.';
		display: block;
		height: 70px;
		left: 0;
		opacity: 1;
		padding-top: 290px;
		position: absolute;
		text-align: center;
		top: 0;
		transition: opacity 800ms $easeOutQuad;
		width: 640px;
		z-index: 3;
	}

	video {
		position: relative;
		z-index: 2;
	}

} // .video-container

.clips {
	float: left;
	list-style: none;
	max-width: 230px;
	padding: 0;
	padding-left: 10px;
}

.clip {
	background: #e1da62;
	border: 3px solid #e1da62;
	height: 119px;
	margin: 0;
	margin-bottom: 8px;
	transition: all 400ms $easeInOutQuad;
	width: 206px;

	&:hover {
		background: #eb8f2d;
		border: 3px solid #eb8f2d;
		cursor: move;
	}

	&.chosen {
		background: #111;
		border: 3px solid #111;
		cursor: not-allowed;

		.clip-frame {
			filter: brightness(0.3);
		}

	} // .chosen

	&.locked {
		border: none;
		height: 113px;
		width: 200px;

		&:hover {
			cursor: default;
		}

	} // .locked

} // .clip

.clip-frame {
	animation: none;
	display: block;
	transition: filter 400ms $easeInOutQuad;
	
	&.animated {
		animation: fadeInOut 400ms $easeInOutQuad;
		animation-play-state: running;
	}

} // .clip-frame

@keyframes fadeInOut {
	0% {
		opacity: 1;
	}
	50% {
		opacity: 0.5;
	}
	100% {
		opacity: 1;
	}
}


.choices {
	list-style: none;
	margin-left: 230px;
	margin-top: 32px;
	overflow: hidden;
	padding: 0;
	text-align: center;

	&.complete .choice {
		box-shadow: none;
		padding: 0;

		&.error {
			border: 3px solid red;
		}

		&.correct {
			border: 3px solid green;
		}

	} // .complete .choice

	&.aced {
		.clip-frame {
			filter: brightness(0.5);
		}
	} // .aced

} // .choices

.choice {
	background: #6280e1;
	box-shadow: 0 0 5px 1px rgba(#6280e1, .5);
	float: left;
	font: 500 20px/113px $roboto;
	height: 119px;
	margin: 0;
	margin-bottom: 10px;
	margin-right: 8px;
	padding: 0;
	padding-left: 3px;
	padding-top: 3px;
	text-align: center;
	text-transform: uppercase;
	transition: background 400ms $easeInOutQuad;
	width: 206px;

	&.over {
		background: pink;
		box-shadow: 0 0 5px 1px rgba(pink, .5);
	}

	&.chosen {
		background: pink;
		box-shadow: 0 0 5px 1px rgba(pink, .5);
	}

} // .choice





























